@media screen and (max-width: 575px) {
    .top-nav-button.d-flex {
        gap: 0;
    }

    h3.m-0.become-a-mentor {
        display: none;
    }

    button.sign-in-mentor {
        color: white;
        background: #FF7E84;
        padding: 10px 2rem;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Inter';
        border: none;
        border-radius: 16px;
    }

    button.navbar-toggler.collapsed {
        border-color: #FF7E84;
    }

    h1.hero-banner-main-heading {
        font-size: 38px;
        font-weight: bold;

    }

    h1.hero-banner-main-heading br {
        display: none;
    }

    svg {
        height: auto;
    }

    .sub-heading-hero {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 1rem 0;
    }

    .layouthero-banner .container-xxl:last-child {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .event-card-item {
        width: 90%;
    }

    .events-card-items {

        justify-content: center !important;
    }

    .top-popular-courses-heading.text-center {
        max-width: 90%;
        margin: auto;
    }

    a.hero-cta-button {
        margin-top: 1rem;
    }

    .our-offer-card {
        max-width: 90%;
    }

    .our-offer-layout.container-xxl .row {
        gap: 3rem;
    }

    p.our-offer {
        text-align: center;
    }

    span.diff-heading-color SVG {
        max-width: 48%;
    }

    h1.university-section-heading.text-center {
        padding-bottom: 1rem;
    }

    h1.university-section-heading.text-center svg {
        max-width: 90%;
    }

    .our-experts-cards.row.gx-sm-5.justify-content-evenly .card {
        width: 80%;
        margin-bottom: 2rem;
    }

    .aproach-counting-items {
        width: 100%;
        margin-bottom: 1rem;
    }

    input[type="submit"] {
        font-size: 18px;
        width: 93%;
    }

    input#email-subscriber {
        padding: 8px 4rem 8px 12px;
    }

    input#email-subscriber {
        padding: 8px 4rem 8px 12px;
        margin-bottom: 1rem;
        border-radius: 8px;
    }

    input#email-subscriber::placeholder {
        font-size: 19px;
    }

    h1.email-heading-main {
        font-size: 21px;
        color: white;
    }

    .university-logos-container-bs .img {
        width: 50%;
    }

    .university-logos-container-bs .img {
        width: 50%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .university-logos-container-bs {
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    a.nav-link {
        margin: 0px 8px;
    }

    .offcanvas-body {
        display: block !important;
    }

    button.btn-close.btn-close-white {
        filter: none;
    }

    h5#offcanvasDarkNavbarLabel {
        opacity: 0;
    }

    .offcanvas-body {

        background: white;
    }

    .offcanvas-header {
        background: white;
    }

    .navbar-toggler:focus {

        box-shadow: none !important;
    }

    .what-we-do-offer {
        background-size: cover;

    }

    .university-logos-container .img {

        width: 33%;

        margin-top: 2rem;
    }

    button.btn-close.btn-close-white {
        margin-right: 1rem;
    }

    .our-offer-heading svg {
        max-width: 70%;
    }

    p.our-offer {
        margin-top: 1rem;
    }

    .our-offer-card-layout.row.justify-content-evenly.row-gap-4 {

        padding-left: 12px;
    }

    section.our-expert {

        padding-bottom: 0;
    }

    .education-layout.row.justify-content-between {
        gap: 3rem;
    }

    section.our-education {
        min-height: 660px;

        margin-bottom: 2rem;
    }

    .event-layout- {

        padding: 3rem 0;
    }

    .heading-and-tab-event.row.justify-content-between.align-items-center.mb-4 {
        gap: 1rem;
    }

    .our-offer-card-layout.row.justify-content-evenly.row-gap-4 {

        justify-content: flex-start !important;
    }

    .heading-and-tab-event.row.justify-content-between.align-items-center.mb-4 {

        justify-content: center !important;
    }

    .education-content.col-md-5.col-sm-12 p.our-offer {
        text-align: left;
    }

    .our-offer-layout.container-xxl p.our-offer {
        text-align: left;
    }

    .text-and-subscription-form {

        align-items: flex-start;
    }

    form.subscription-form {

        margin-left: 0;
    }

    .social-media-links-footer {

        margin-bottom: 2rem;
    }

    .first-link-list.link-list.col-md-6.col-sm-12 {
        margin-bottom: 1rem;
    }

    a.out-offer-cta {
        width: 100%;
        display: block;
    }

    button.btn-close.btn-close-white {
        margin-right: 3rem;
    }

    .container-xxl.main-container-ud {
        padding: 0 30px;
    }

    .Black-Bg-text {
        font-size: 24px;
        line-height: 36px;
    }

    .heading-section {
        font-size: 38px;
    }

    .internship-feilds-main .columm-utk-feilds p {
        font-size: 20px;
        line-height: 40px;
    }

    .row.pt-3.pb-3.internship-feilds-main {
        padding: 0px !important;
    }

    .col-lg-6.pt-5.text-partners {
        padding: 0px !important;
    }

    h1.text-center.pt-5.pb-5.m-0.heading-section {
        padding: 0px !important;
    }

    .col-lg-6.text-part-howitworks {
        padding-top: 34px;
    }

    .number {
        padding: 9px 21px;
        margin-top: -10px;
    }

    .item-howitworks h3 {
        font-size: 20px;
        margin: 2px;
    }

    .item-howitworks p {
        font-size: 15px;
        line-height: 20px;
        margin: 5px;
    }

    .benifits-new-section .card1.card img {
        width: 55px;
        max-width: 55px;
    }

    .card1.card.align-items-center h5.card-title {
        font-size: 18px;
    }

    .row.pt-5.benifits-new-section {
        padding: 0px !important;
    }

    .text-part-howitworks:after {
        width: 30%;
    }

    .intern-partner-paragraph {
        font-size: 16px;
        line-height: 25px;
    }

    .apply-button-partner {
        font-size: 16px;
        line-height: 26px;
    }

    .main-container-utk .card.card-utk img.my-card-img-utk {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        padding: 20px 0px;
    }

    .main-container-utk .card-body.card-body-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .main-container-utk .card-body-text {
        padding: 10px 10px 10px 10px;
    }
}