
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

li, h1,h2,h3,h4,h5,h6 , caption{
font-family: 'Inter', sans-serif;
}
p , a{
    font-family: 'DM Sans', sans-serif;
}

h1.hero-banner-main-heading {
    font-size: 74px;
    font-weight: bold;
}

.layouthero-banner .container-xxl:last-child {
    min-height: 718px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layouthero-banner {
    background-image: url(./assets/hero-img.png);
    background-size: initial;
    background-repeat: no-repeat;
}
.sub-heading-hero {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

a.hero-cta-button {
    font-size: 24px;
    color: white;
    background: #FF7E84;
    width: max-content;
    padding: 5px 2rem;
    border-radius: 26px;
    text-decoration: none;
    margin-top: 2rem;
}

.sub-heading-hero {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1rem 0;
}
a.nav-link {
    font-size: 19px;
    color: black;
    margin: 2rem 1rem;
    font-weight: 500;
}


.what-we-do-offer {
    background-image: url(./assets/our-offer.png);
    background-size: initial;
    background-repeat: no-repeat;
    min-height: 711px;
    display: flex;
    align-items: center;
}

p.our-offer-paragraph {
    padding: 1rem 0;
}

a.out-offer-cta {
    color: white;
    background: #FF7E84;
    padding: 12px 2rem;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    border-radius: 8px;
}


p.our-offer-paragraph {
    padding: 1rem 0;
    max-width: 80%;
    color: #7A7A89;
}

.our-offer-card {
    max-width: 45%;
}
h2.card-our-offer-hrading {
    font-size: 20px;
    font-weight: 600;
}

p.our-offer-description-card {
    font-size: 16px;
    color: #7A7A89;
    font-weight: 500;
}

.our-offer-card {
    max-width: 45%;
    padding: 1rem 4rem 1rem 2rem;
    background: white;
    border-radius: 16px;
}
p.our-offer {
    color: #30BEAD;
    font-size: 20px;
    font-weight: 500;
}


section.university-partner.container-xxl {
    padding-top: 5rem;
    padding-bottom: 5rem ;
}

p.university-section-description.text-center.w-50.m-auto {
    padding-bottom: 2rem;
    color: #7A7A89;
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 400;
}
.university-logos-container .img {
    max-width: 100%;
    width: 17%;
    margin-bottom: 1rem;
}

h4.universty-top-name.text-center {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #30BEAD;
}
.our-expert{
    background-image: url('./assets/expert-bg.png');
    background-size: initial;
    background-repeat: no-repeat;
    
}
section.our-expert {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
h1.university-section-heading.text-center {
    padding-bottom: 3rem;
}
.our-experts-cards .card {
    padding: 0;
    border: none;
    background: transparent;
}
.our-experts-cards .card-body {
    background: white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

section.our-education {
    min-height: 711px;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

p.our-offer {
    text-transform: capitalize;
   
}

a.out-offer-cta {
    text-transform: capitalize;
}

li.checkpoint-oofer {
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

ul.checkpoint-the-offers {
    padding: 0;
}

li.checkpoint-oofer span {
    margin-right: 8px;
}

.university-logos-container-bs .img {
    max-width: 100%;
    width: 15%;
    margin-bottom: 1rem;
}

.row.aproach-counting-item {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.aproach-counting-items {
    width: 20%;
}
h3.count-numbers-aproach,p.counting-discription {
    font-weight: 600;
}

.layout-our-aproach{
    background-image: url('./assets/our-aproach-bg.png');
    background-size: initial;
    background-repeat: no-repeat;
    background-position-y: -84%;
}
.row.aproach-counting-item {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: white;
    padding: 1rem;
    border-radius: 8PX;
    box-shadow: 0px 15px 80px 0px rgba(67, 106, 141, 0.10);
}

h3.count-numbers-aproach {
    color: #30BEAD;
}

.our-aproach-content {
    padding: 7rem 0;
}

.tab button {
    text-transform: capitalize;
}

.tab button {
    color: white;
    background: #FF7E84;
    padding: 6px 1rem;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    border-radius: 8px;
    border: none;
}
.tab-events {
    width: max-content;
}

h1.event-heading {
    width: max-content;
}

.our-experts-cards.row.gx-5.justify-content-evenly .card {
    width: 23%;
}

.event-card-item {
    width: 23%;
}

.events-card-items {
    row-gap: 32px;
}

.event-card-item .card {
    border: none;
}


.event-card-item .card-body {
    box-shadow: 0px 1.83129px 3.11319px 0px rgba(184, 52, 10, 0.01), 0px 8.05767px 6.44614px 0px rgba(184, 52, 10, 0.02), 0px 19.77792px 12.85565px 0px rgba(184, 52, 10, 0.03), 0px 38.09081px 25.19853px 0px rgba(184, 52, 10, 0.03), 0px 64.09511px 46.33161px 0px rgba(184, 52, 10, 0.04), 0px 98.8896px 79.11168px 0px rgba(184, 52, 10, 0.05);
    background: white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.event-card-item h5.card-title {
    font-size: 20px;
    font-weight: 600;
}

.event-card-item p.card-text {
    margin-bottom: 5px;
}

span.filled-text-bs {
    font-weight: 600;
    color: #30BEAD;
    margin-left: 8px;
}
span.event-card-icon {
    margin-right: 6px;
}

.event-card-item p.card-text {
    text-transform: capitalize;
    font-weight: 600;
}

h1.event-heading {
    font-size: 32px;
    font-weight: 600;
}

.event-layout-{
    background-image: url('./assets/event-bg.png');
    background-size: initial;
    background-repeat: no-repeat;
    padding: 7rem 0;
}

.event-card-item p.card-text , .event-card-item h5.card-title {
    text-align: left;
}


/* Style the tab */
.tab {
    overflow: hidden;
   
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
 
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  h6.class-name {
    width: max-content;
    border-radius: 5px;
    background: #E2E5ED;
    padding: 4px 10px;
}
section.email-subscription {
    background: #30BEAD;
}

h1.email-heading-main {
    font-size: 32px;
    color: white;
}
.d-flex.email-hesding-icon{
    gap: 1rem;
    width: max-content;
}

.layout-email-subscription   {
    gap: 2rem;
}
input#email-subscriber::placeholder {
    color: black;
}

input#email-subscriber {
    font-size: 22px;
    border-radius: 5px 5px 0px 0px;
    background: #1BAA99;
    border: none;
    color: black !important;
    padding: 8px 7rem 8px 12px;
}

input[type="submit"] {
    color: white;
    background: #FF7E84;
    padding: 10px 2rem;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    border: none;
    border-radius: 8px;
}

.logo-top-nav , .top-nav-button{
    width: max-content;
}

.top-nav-button.d-flex {
    gap: 2rem;
}

h3.m-0.become-a-mentor {
    font-size: 18px;
}

button.sign-in-mentor {
    color: white;
    background: #FF7E84;
    padding: 10px 1rem;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter';
    border: none;
    border-radius: 28px;
}

.university-logos-container-bs .img {
    max-width: 100%;
    width: 15%;
    margin-bottom: 1rem;
}
.certification-courses-badges{
    background-image: url('./assets/courses-bad-bg.png');
    background-size: initial;
    background-repeat: no-repeat;
}


.layouthero-banner-bs {
    background-image: url(./assets/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 369px;
}
a.downloadcoursesbutton {
    color: #FF7E84;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

a.downloadcoursesbutton span {
    margin-left: 16px;
}
.course-page .event-card-item h5.card-title {
    font-size: 18px;
    font-weight: bold;
}
.course-page .event-card-item p.card-text {
   
    font-weight: 500;
    font-size: 15px;
}

.course-page span.event-card-icon{
    margin-right: 0;
}

h1.past-project-listing.text-left {
    font-size: 36px;
    font-weight: 600;
}


.course-page p.our-offer {
    color: #8b8b97;
}


.course-page-1 .our-experts-cards.row.gx-5.justify-content-evenly .card {
    width: 31%;
}

.course-page-1 img.card-img-top {
    max-width: 50px;


}

.course-page-1 .our-experts-cards .card-body {
    background: transparent;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.course-page-1 .card-body.text-center {
    padding: 0;
}

section.our-expert.course-page-1 .card {
    padding: 3rem 3rem !important;
    background-image: url(./assets/white-bg-new.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 76px;
}

.course-page-1 p.card-text {
    max-width: 88%;
    margin: auto;
}

.course-page-1 h5.card-title {
    margin-bottom: 1rem;
}

.course-page-1 p.card-text {
    max-width: 88%;
    margin: auto;
    color: #7A7A89;
    line-height: 1.6;
}

.course-page-1 .card-body.text-center {
    padding-top: 1.5rem !important;
}


.main-item-links-footer ul {
    padding: 0;
}
.main-item-links-footer ul li {
    list-style: none;
}
a.social-midia-link-footer {
    text-decoration: none;
    height: 50px;
    display: block;
}
.social-media-links-footer {
    display: flex;
    gap: 1rem;
}

.link-list h3 {
    font-size: 20px;
    font-weight: 600;
}
section.footer.pt-5.pb-5 {
    background: #0C1427;
}

section.footer.pt-5.pb-5 p, section.footer.pt-5.pb-5 a , section.footer.pt-5.pb-5 h3 {
    color: white;
}

.main-item-links-footer ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

.footer-content-bs {
    max-width: 70%;
}

.text-and-subscription-form p {
    max-width: 70%;
}

input.email-subscrip {
    padding: 0.7rem;
    padding-right: 5rem;
    border-radius: 10px;
    border: none;
}

.text-and-subscription-form input[type="submit"] {
    padding-right: 4rem;
    text-align: center;
    padding-left: 4rem;
}

form.subscription-form input {
    width: max-content;
}



.text-and-subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


form.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: -18px;
}

a.social-midia-link-footer svg {
    max-width: 50px;
}

svg {
    max-width: 100%;
}

.offcanvas-body {
    display: none !important;
}